.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.grid img,
.trips img {
  width: 100%;
  border-radius: 8px;
}

.social img {
  height: 30px;
  margin: 0 5px;
}