* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  max-width: 800px;
  margin: 1rem auto;
}

main img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: auto;
}

aside {
  width: 300px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: #f4f4f4;
  color: #000;
}

aside img {
  width: 200px;
  height: auto;
}

p {
  padding: 0;
}

footer {
  margin-top: 2rem;
  border-top: 1px solid #ccc;
  text-align: center;
}